.week_two_container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  background-color: white;
  width: 85%;
  height: 100vh;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 30px 20px;

  @media screen and (max-width: 1080px) {
    h2 {
      font-size: 20px;
    }
  }

  .caption_image {
    display: flex;
    justify-content: space-evenly;
  }

  .answer_area_container {
    display: flex;
  }

  .answer_area {
    padding: 5px 10px;
    border: 2px dashed gray;
    border-radius: 10px;
    width: 65%;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

    hr {
      position: absolute;
      bottom: 2px;
      width: 95%;
      background-color: black;
      outline: none;
      height: 0.5px;
      border: none;
    }
  }

  .hint_container {
    display: flex;
    gap: 10px;
    align-items: center;
    .hint_image {
      width: 48px;
      height: 48px;
    }
  }

  .summary {
    background-color: #25a3a1;
    align-items: center;
    border: 2px dashed #a4fdfb;
    border-radius: 10px;
    padding: 5px 10px;
    img {
      margin: 0px 5px;
    }
  }
}
