.caption_img_container {
  width: fit-content;
  width: 25%;
  .caption_img {
    padding: 10px 20px;
    border: 2px dashed gray;
    border-radius: 10px;
  }

  img {
    width: 170px;
    height: 140px;
  }

  @media screen and (max-width: 1080px) {
    img {
      width: 150px;
      height: 120px;
    }
    h3 {
      font-size: 16px;
    }
  }
}
